APP_HOST=0.0.0.0
APP_PORT=8080
SOCKET_PATH=/tmp/mpvsocket
VIDEO_OUTPUT=drm
DRM_DEVICE=/dev/dri/card1
DRM_CONNECTOR=eDP-1
AUDIO_OUTPUT=alsa
AUDIO_DEVICE=alsa/hw:0,3
HWDEC=vaapi
CACHE=yes
DEMUXER_MAX_BYTES=102400
DEMUXER_READAHEAD_SECS=60
YTDL_FORMAT="bestvideo[height<=?1080][vcodec^=avc1]+bestaudio/best"
